$primaryBgColor: #282627;
$secondaryBgColor: #303030;

$primaryColor: #eeeeee;
$secondaryColor: #d96955;
$tertiaryColor: #acacac;
$quartenaryColor: #bebebe;
$hover: rgba(255, 255, 255, 0.1);
$hoverBlack: rgba(0, 0, 0, 0.7);
