<div class="app">
    <div class="left-container" [attr.modal]="isModalOpen">
        <ng-container *ngIf="isModalOpen">
            <div class="modal" #elModal>
                <div class="modal__header">
                    <button class="left-container__button" (click)="handleModalPreviouslyYear()"
                        [disabled]="animationDelayButton">
                        <i class="ri-arrow-left-s-line"></i>
                    </button>
                    <h1> {{ modalDate.getFullYear() }} </h1>
                    <button class="left-container__button" (click)="handleModalNextYear()"
                        [disabled]="animationDelayButton">
                        <i class="ri-arrow-right-s-line"></i>
                    </button>
                    <button class="left-container__button" (click)="resetModalDate()" [disabled]="animationDelayButton">
                        <i class="ri-refresh-line"></i>
                    </button>
                    <button class="left-container__button" (click)="closeModal()" [disabled]="animationDelayButton">
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <div class="modal__grid-container">
                    <!-- PREVISOULY -->
                    <div class="modal__grid modal__grid--previously" #previouslyModalGrid>
                        <div class="modal__wrapper" *ngFor="let item of monthList">
                            <div class="modal__wrapper-header">
                                {{ item.substring(0, 3) }}
                            </div>
                            <div class="modal__wrapper-content">
                                <div class="modal__wrapper-item week-day">D</div>
                                <div class="modal__wrapper-item week-day">S</div>
                                <div class="modal__wrapper-item week-day">T</div>
                                <div class="modal__wrapper-item week-day">Q</div>
                                <div class="modal__wrapper-item week-day">Q</div>
                                <div class="modal__wrapper-item week-day">S</div>
                                <div class="modal__wrapper-item week-day">S</div>

                                <div class="modal__wrapper-item grid__prevDays"
                                    *ngFor="let day of getCustomPreviouslyDays(item)">
                                    {{ day }}
                                </div>
                                <div class="modal__wrapper-item" *ngFor="let day of getCustomDays(item)">
                                    {{ day }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CURRENT -->
                    <div class="modal__grid modal__grid--current" #currentModalGrid>
                        <div class="modal__wrapper" *ngFor="let item of monthList"
                            (click)="handleSelectedModalDate(item)">
                            <div class="modal__wrapper-header">
                                {{ item.substring(0, 3) }}
                            </div>
                            <div class="modal__wrapper-content">
                                <div class="modal__wrapper-item week-day">D</div>
                                <div class="modal__wrapper-item week-day">S</div>
                                <div class="modal__wrapper-item week-day">T</div>
                                <div class="modal__wrapper-item week-day">Q</div>
                                <div class="modal__wrapper-item week-day">Q</div>
                                <div class="modal__wrapper-item week-day">S</div>
                                <div class="modal__wrapper-item week-day">S</div>
                                <div class="modal__wrapper-item grid__prevDays"
                                    *ngFor="let day of getCustomPreviouslyDays(item)">
                                    {{ day }}
                                </div>
                                <div class="modal__wrapper-item" *ngFor="let day of getCustomDays(item)">
                                    {{ day }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- NEXT -->
                    <div class="modal__grid modal__grid--next" #nextModalGrid>
                        <div class="modal__wrapper" *ngFor="let item of monthList">
                            <div class="modal__wrapper-header">
                                {{ item.substring(0, 3) }}
                            </div>
                            <div class="modal__wrapper-content">
                                <div class="modal__wrapper-item week-day">D</div>
                                <div class="modal__wrapper-item week-day">S</div>
                                <div class="modal__wrapper-item week-day">T</div>
                                <div class="modal__wrapper-item week-day">Q</div>
                                <div class="modal__wrapper-item week-day">Q</div>
                                <div class="modal__wrapper-item week-day">S</div>
                                <div class="modal__wrapper-item week-day">S</div>

                                <div class="modal__wrapper-item grid__prevDays"
                                    *ngFor="let day of getCustomPreviouslyDays(item)">
                                    {{ day }}
                                </div>
                                <div class="modal__wrapper-item" *ngFor="let day of getCustomDays(item)">
                                    {{ day }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class=" left-container__header" [ngClass]="{
            'app-u-bgBlur' : isModalOpen
        }
        ">
            <div class="left-container__top">
                <button class="left-container__button" (click)="handlePreviouslyMonth()">
                    <i class="ri-arrow-left-s-line"></i>
                </button>
                <h1 class="left-container__title" (click)="openModal()"> {{
                    currentDate.getFullYear() }} </h1>
                <button class="left-container__button" (click)="handleNextMonth()">
                    <i class="ri-arrow-right-s-line"></i>
                </button>
            </div>
            <button class="left-container__button" style="margin-top: 15px;" (click)="resetDate()">
                <i class="ri-refresh-line"></i>
            </button>
            <div class="left-container__subtitle">
                <h2>
                    {{ currentDate.getMonth() | toMonth }}
                </h2>
            </div>
        </div>
        <div class="left-container__grid" [ngClass]="{
            'app-u-bgBlur' : isModalOpen
        }
        ">
            <div class="grid" #elMainGrid>
                <div class="week-day">Domingo</div>
                <div class="week-day">Segunda</div>
                <div class="week-day">Terça</div>
                <div class="week-day">Quarta</div>
                <div class="week-day">Quinta</div>
                <div class="week-day">Sexta</div>
                <div class="week-day">Sábado</div>
                <div class="grid__prevDays grid__item" *ngFor="let day of prevDays">
                    {{ day }}
                </div>
                <div class="grid__days grid__item" *ngFor="let day of days" [ngClass]="{
                    'grid__item--today' : checkToday(day), 'grid__item--selected': checkSelectedDay(day)
                }" (click)="dayClicked(day)">
                    {{ day }}
                </div>
                <div class="grid__nextDays grid__item" *ngFor="let day of nextDays">
                    {{ day }}
                </div>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="tasks">
            <div class="tasks__header" [ngStyle]="{
                'pointer-events': isFormModalOpen ? 'none' : 'all'
            }">
                <div>
                    <h1> {{ selectedDate.getDate() | getZero }} </h1>
                    <h4> {{ selectedDate.getDay() | toWeekDay }} </h4>
                </div>
                <div class="tasks__header__add-task">
                    <span>
                        Adicionar nova tarefa
                    </span>
                    <button (click)="handleOpenFormModal()">
                        <i class="ri-play-list-add-line"></i>
                    </button>
                </div>
            </div>
            <div class="tasks__wrapper">
                <ng-container *ngIf="isTasksLoading; then tasksLoading; else taskLoaded"></ng-container>
                <ng-template #taskLoaded>
                    <ng-container *ngIf="isFormModalOpen; then formModal; else tasksList"></ng-container>
                    <ng-template #formModal>
                        <div class="tasks-form">
                            <div class="tasks-form__back-button">
                                <button (click)="handleCancelForm()"><i class="ri-arrow-left-line"></i></button>
                            </div>
                            <form #tasksForm="ngForm">
                                <mat-form-field class="tasks-form__item tasks-form__item-50">
                                    <mat-label>Título</mat-label>
                                    <input matInput placeholder="Ex. Almoçar" autocomplete="off" name="title"
                                        [(ngModel)]="formTitle" value="" required>
                                </mat-form-field>
                                <mat-form-field class="tasks-form__item tasks-form__item-50">
                                    <mat-label>Local</mat-label>
                                    <input matInput placeholder="Ex. Casa" autocomplete="off" name="location"
                                        [(ngModel)]="formLocation" value="" required>
                                </mat-form-field>
                                <mat-form-field class="tasks-form__item">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput name="date" autocomplete="off" [(ngModel)]="formDate"
                                        [matDatepicker]="picker" required>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="tasks-form__item">
                                    <mat-label>Descrição</mat-label>
                                    <textarea matInput name="description" autocomplete="off"
                                        [(ngModel)]="formDescription" placeholder="Ex. It makes me feel..."
                                        required></textarea>
                                </mat-form-field>
                                <button [disabled]="!tasksForm.valid" (click)="handleAddTask()" class="submit-button submit-button--add"
                                    *ngIf="!isFormModalEditting">Adicionar</button>
                                <button [disabled]="!tasksForm.valid" (click)="handleEditTask()" class="submit-button submit-button--edit"
                                    *ngIf="isFormModalEditting">Salvar</button>
                            </form>
                        </div>
                    </ng-template>
                    <ng-template #tasksList>
                        <ng-container *ngIf="!getTasks(); then tasksNoItem; else tasksItem"></ng-container>
                        <ng-template #tasksNoItem>
                            <div class="tasks__no-item">Sem tarefas por aqui... <br /> <i
                                    class="ri-emotion-sad-line"></i></div>
                        </ng-template>
                        <ng-template #tasksItem>
                            <div class="tasks__item" *ngFor="let item of getTasks()"
                                (click)="handleRequestForEdit(item)">
                                <div class="tasks__item-left-wrapper">
                                    <div class="tasks__item-left">
                                        <div class="tasks__item-title">
                                            {{ item.title }}
                                        </div>
                                        <div class="tasks__item-location">
                                            {{ item.location }}
                                        </div>
                                        <div class="tasks__item-description">
                                            {{ item.description }}
                                        </div>
                                    </div>
                                </div>
                                <div class="tasks__item-right">
                                    <button (click)="handleDeleteTask(item.id)">
                                        <i class="ri-delete-bin-line"></i>
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </ng-template>
                </ng-template>
                <ng-template #tasksLoading>
                    <div class="tasks__loading">
                        <div class="loader"></div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>